---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Portfolio's Gil Tello.">
	<main>
		<h1>Hi! I'm <span>Gildardo Tello</span> <Badge></Badge></h1>
	</main>
</Layout>
