---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
---

<Layout title="Portfolio's Gil Tello.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hi! I'm <span>Gildardo Tello</span>
        <a href="https://www.linkedin.com/in/gildardo-tello-alvarez-9197042a3/" target="_blank" rel="noopener"><div class="flex justify-center items-center"><Badge>Working at...</Badge></div></a>
      </h1>
      <h2 class="text-2xl text-wrap">
        Web developer focused on <span class="opacity-80 text-yellow-400">Front-End</span> and with knowledge at <span class="opacity-80 text-yellow-400"
          >Back-End</span
        >. Open to new challenges and learn new things. From <span class="opacity-80 text-gray-300">Michoacan, Mexico</span>.
      </h2>
    </section>

    <ul>
		<li>
			<a href="https://www.linkedin.com/in/gildardo-tello-alvarez-9197042a3/"><LinkedInIcon /></a>
		</li>
		<li>

		</li>
		<li>

		</li>
	</ul>
  </main>
</Layout>
