---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
//import SocialPill from '../components/icons/';
---

<Layout title="Portfolio's Gil Tello.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold justify-center flex-row">
        Hi! I'm <span>Gildardo Tello</span>
        <div><Badge>Working at...</Badge></div>
      </h1>
      <h2>
        Web developer focused on <span>Front-End</span> and with knowledge at <span
          >Back-End</span
        >. Open to new challenges and learn new things. From Michoacan, Mexico.
      </h2>
    </section>

    <ul></ul>
  </main>
</Layout>
