---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
//import SocialPill from '../components/icons/';
---

<Layout title="Portfolio's Gil Tello.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hi! I'm <span>Gildardo Tello</span>
        <a href="https://www.linkedin.com/in/gildardo-tello-alvarez-9197042a3/" target="_blank" rel="noopener"><div class="flex justify-center items-center"><Badge>Working at...</Badge></div></a>
      </h1>
      <h2 class="text-2xl text-wrap">
        Web developer focused on <span>Front-End</span> and with knowledge at <span
          >Back-End</span
        >. Open to new challenges and learn new things. From Michoacan, Mexico.
      </h2>
    </section>

    <ul></ul>
  </main>
</Layout>
