---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio's Gil Tello.">
	<main>
		<h1>Hi! I'm <span>Gildardo Tello</span> <Badge>Working at...</Badge></h1>
		<h2>Web developer focused on <span>Front-End</span> and with knowledge at <span>Back-End</span>. Open to new challenges and learn new things. From Michoacan, Mexico.</h2>
	</main>
</Layout>
