---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Portfolio de Gildardo Tello</h1>
	</main>
</Layout>
