---
import ExperienceItem from "./icons/ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "January 2025 - Current...",
        title: "External Consultant - Fideicomisos Instituidos en Relacion con la Agricultura - FIRA",
        description:
            "Working as External Consultant on differents projects on their intranet. Perform differents roles in the team.",
    },    
    {
        date: "September 2024 - December 2024",
        title: "Back End Web Developer - ByHost",
        description:
            "Working as Back End developer on the API development for their hosting website.",
    },    
    {
        date: "January 2024 - June 2024",
        title: "Intern Web Developer - HARMAN by Mexico",
        description:
            "Working as full-stack web developer in the warehouse area for differents projects. Learning about Symfony, Doctrine, MySQL and more.",
    },    
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
