---
import ExperienceItem from "./icons/ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Actually...",
        title: "Web Development - HARMAN by Mexico",
        description:
            "Working as full-stack web developer in the warehouse area for differents projects. Learning about Symfony, Doctrine, MySQL and more.",
    },
    {
        date: "Actually...",
        title: "Portfolio's Project",
        description:
            "Working on my portfolio. Learning Astro and Tailwinds.",
        link: "https://github.com/NotPoncho23/portfolio",
    },
    {
        date: "April 2022 to June 2022",
        title: "Web Development Playita's Project",
        description:
            "Worked on full-stack development of website with the menu of Playita's Restaurant. Using HTML, CSS, JavaScript, PHP, MySQL and Bootstrap.",
        link: "https://github.com/NotPoncho23/ProyectoPlayita",
    },
    {
        date: "April 2021 to June 2021",
        title: "Web Development Cafeteria's Project",
        description:
            "Worked on Front-End development of website for optimize the orders of the cafeteria. Using HTML, CSS, JavaScript and PHP.",
        link: "https://github.com/NotPoncho23/ProyectoCafeteria"
    },
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
