<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12"
    src="https://media.licdn.com/dms/image/D4E03AQEsU2t4fquEmw/profile-displayphoto-shrink_100_100/0/1702262357947?e=1715817600&v=beta&t=rcCV8kIlp8ykQS7QEGXXYHMMB72vg_DjjoAwlWa0Lro" 
    alt="gil-photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

</header>